<!--<div class="top-bar homeheadertop">-->
<div class="homeheadertop">
    <div class="top-bar-left">
        <ul class="menu">
            <img ui-sref="home" class="runIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt="">
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a ui-sref="login">Join/Login</a></li>
            <li><a ui-sref="customerorders">Cart</a></li>
        </ul>
    </div>
</div>


<div class="top-bar navBar">
    <!--<div class="flexContainer homeheadertop">-->
    <!--<ul class=" top-bar-left "><img class="runIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt=""></ul>-->
    <div class="flexContainer">
        <!--<div class="top-bar-right">-->
            <!--<ul class="menu">-->
                <!--&lt;!&ndash;<li><a ui-sref="learning">LEARNING</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="checkout">CHECKOUT</a></li>&ndash;&gt;-->
                <!--<li><a ui-sref="selectProduct">SELECT PRODUCT</a></li>-->
                <!--<li><a href="/auth/logout">LOGOUT</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="top-bar-right">-->
            <!--<ul class="menu">-->
                <!--&lt;!&ndash;<li><a ui-sref="product">Product Details</a></li>&ndash;&gt;-->
                <!--<li><a ui-sref="home">HOME</a></li>-->
                <!--<li><a ui-sref="admin">ADMIN</a></li>-->
                <!--&lt;!&ndash;<li><a ui-sref="login">LOGIN</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="top-bar-right">-->
            <!--<ul class="menu">-->
                <!--&lt;!&ndash;<li><a ui-sref="learning">LEARNING</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a ui-sref="checkout">CHECKOUT</a></li>&ndash;&gt;-->
                <!--<li><a ui-sref="selectProduct">MEN</a></li>-->
                <!--<li><a href="/auth/logout">WOMEN</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
        <!--<li class="runIcon"><img class="runIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt=""></li>-->
        <ul class="menu navBar">
            <!--<li><img class="runIcon" ui-sref="home" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt=""></li>-->
            <!--<li><a ui-sref="learning">LEARNING</a></li>-->
            <!--<li><a ui-sref="checkout">CHECKOUT</a></li>-->
            <li><a ui-sref="selectProduct">MEN</a></li>
            <li><a ui-sref="selectProduct">WOMEN</a></li>
            <li ng-show="adminPage"><a ui-sref="admin">ADMIN</a></li>

        </ul>
    </div>

</div>
<!--</div>-->






